<ActionBar title="Details" class="action-bar"></ActionBar>
<FlexboxLayout flexDirection="column" class="page">
    <Label class="h2" [text]="card.DisplayName"></Label>
    <Label class="h4" *ngFor="let type of card.DisplayTypes" [text]="type"></Label>
    <Label class="h4" [text]="'$'+card.Cost"></Label>
    <Label class="h4"[text]="card.DisplaySet"></Label>
    <Label class="h4"[text]="card.ActionEconomy"></Label>
    <Label class="h4" *ngFor="let effect of card.Effects" [text]="effect"></Label>
</FlexboxLayout>
